<h2 class="page-header"><%=user.name %></h2>
<div class="user-details-button-grid">
    <a href="/user/<%=user.id %>/edit" class="btn btn-primary">Edit</a>
    <%-include('../partials/deleteForm', {url: `/user/${user.id}`}) %>
</div>
<br>
<h2>Favorite Films Of <%=user.name %></h2>
<%-include('../partials/filmGrid.ejs', {films:films, large: true}) %>